@use '../../../styles/colors.scss' as *;

.searchContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 20px;
  width: 100%;

  .searchInput {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: $gray-input;
    color: $text-light;
    outline: none;
    flex-grow: 1;
    margin-right: 5px;

    &::placeholder {
      color: $text-dark;
    }
  }

  .searchButton {
    padding: 8px;
    background-color: $red-button;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-black;

    img {
      width: 20px;
      height: 20px;
      transition:
        width 0.3s ease,
        height 0.3s ease;
    }

    &:hover {
      img {
        width: 24px;
        height: 24px;
      }
      background-color: $red-button-hover;
    }
  }

  &_light {
    .searchInput {
      background-color: $light-input;
      color: $text-light;
    }
    .searchButton {
      color: $text-light;
    }
  }
}

@media (max-width: 768px) {
  .searchContainer {
    width: 100%;
    margin: 0;

    .searchInput {
      width: 60%;
    }

    .searchButton {
      width: 40%;
    }
  }
}

@media (min-width: 769px) {
  .searchContainer {
    .searchInput {
      width: 80%;
    }

    .searchButton {
      width: 20%;
    }
  }
}

@media (max-width: 480px) {
  .searchContainer {
    button {
      padding: 6px;

      img {
        width: 16px;
        height: 16px;
      }

      &:hover {
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
