@use '../../styles/colors.scss' as *;

.page-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-not-found-image {
  width: 20%;
  height: 20%;
}

.link-go-home {
  color: $text-light;
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $red-button;
  }

  &:active {
    color: $red-button-hover;
  }
}
