@use '../../styles/colors.scss' as *;

.home-page {
  display: flex;
  gap: 20px;
  padding: 20px;

  .left-section {
    flex: 1;
    cursor: pointer;
  }

  .right-section {
    flex: 1;
    border-left: 2px solid $gray-table-hover;
    padding-left: 20px;
    position: relative;
  }
}
