$dark-background: #1a1a1a;
$dark-menu: #2a2a2a;
$red-button: #ff4d4d;
$red-button-hover: #ff4d4da9;
$gray-table-hover: #3a3a3a;
$gray-table: #2a2a2a;
$gray-details: #3a3a3a;
$gray-input: #3a3a3a;
$text-light: #ffffff;
$text-dark: #cccccc;
$text-black: #1a1a1a;

$light-background: #ffffff;
$light-menu: #f5f5f5;
$light-input: #e0e0e0;
$light-table-hover: #e6e6e6;
$light-table: #f5f5f5;
